[Flatpak Ref]
Name=@APP_ID@
Branch=stable
Url=https://hawwwran.github.io/hwnhub/
Title=@APP_NAME@
IsRuntime=false
GPGKey=@GPG_KEY_BASE64@
SuggestRemoteName=hwnhub
RuntimeRepo=https://flathub.org/repo/flathub.flatpakrepo
